@font-face {
    font-family: 'missionScript';
    src: url(../fonts/Mission-Script.otf);

}
@font-face{
    font-family: "proxima-nova";
    src: url(../fonts/Mark-Simonson-Proxima-Nova-Regular.otf);
}
@font-face{
    font-family: "proxima-nova-thin";
    src: url(../fonts/Mark-Simonson-Proxima-Nova-Alt-Condensed-Thin.otf);
}
@font-face{
    font-family: "proxima-nova-light";
    src: url(../fonts/Mark-Simonson-Proxima-Nova-Alt-Condensed-Light.otf);
}


body {
    width: 100%;
    height: 100%;
    font-family: "Helvetica Light",Helvetica,Arial,sans-serif;
    color: #fff;
    /*background-color: #bddeeb;*/
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0 0 35px;
    text-transform: none;
    font-family: "proxima-nova","Helvetica Light",Helvetica,Arial,sans-serif;
    /*font-weight: lighter;*/
    /*letter-spacing: 1px;*/
    
   /* width: 900px; */
    
}

h1 {
    
    font-family: "proxima-nova-light";
    font-weight: 100;
    line-height: 62px;
}

.whiteh1 {
    color:#fff;
}

h1 {
    font-size: 55px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 25px;
        line-height: 1.6;
        padding-top: 150px;
    }

}

h3{
    font-size: 18px;
    line-height: 1.3;
}

h2{
    font-size: 20px;
    line-height: 1.3;
}

h1{
    font-size: 36px;
}

@media(min-width:767px) {

    h3 {
        font-size: 22px;
    }
}

@media(min-width:767px) {

    h2{
        font-size: 24px;
    }
}

@media(min-width:767px){
    h1 {
        font-size: 50px;
    }
    
}



a {
    color: #219ab3;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #11505d;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: none;
    font-family: "Helvetica Light",Helvetica,Arial,sans-serif;
    font-size: 12pt;
    font-weight: lighter;
    background-color: #000;
}

.navbar-custom .navbar-brand {
    font-weight: lighter;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
    margin-left: 20px;
}

.navbar-custom button {
    margin-left: 20px;
}

.navbar-custom .nav li.active {
    outline: nonte;
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
    outline: 0;
    background-color: rgba(202, 234, 246, .5);
}

#cs_icon {
    margin-top: -3px;
}


@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 15px;
        background-color: rgba(255, 255, 255, 0.95);
        -webkit-box-shadow: 0 3px 8px -5px #CDCDCD;
        -moz-box-shadow: 0 3px 8px -5px #CDCDCD;
        box-shadow: 0 3px 8px -5px #CDCDCD;
    }

    .top-nav-collapse a {
       color:#94928F; 
    }

    .top-nav-collapse .btn-default {
        color: #94928F;
        border-color: #94928F;
        border: 1px solid #94928F;
        background-color: transparent;

    }

    .top-nav-collapse .btn-default:hover,
    .top-nav-collapse .btn-default:active{
        color: #94928F;
    }
    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
    .page-scroll {
        font-family: "helvetica light", helvetica, Arial;
        font font-weight: lighter;
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/CSBGmoreblurDbluer.jpg) no-repeat bottom center scroll;
    background-color: #bddeeb;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
    margin-bottom: 60px;
    
}

.intro .intro-body .intro-text {
    font-size: 18px;
    font-weight: lighter;
}

.titleHolder {
    margin-right: 10%;
    margin-left: 10%;
}
@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }
    .intro .brand-heading {
        position: center;
        margin-right: auto;
        margin-left: auto;
    }
    .intro .intro-body .brand-heading {
        font-family: 'helvetica light',helvetica,Arial;
        font-weight: lighter;
        text-transform: none; 
        font-size: 55px;
        color: #fff;
    }

    #cancerSpot_title {
        font-size: 70px;
        font-family: 'missionScript';
        text-transform: none;
        color: #d74140;
    }


    .intro .intro-body .intro-text {
        font-size: 25px;
    }
}

.emailSignup{
    -webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
height: 80px;
width: 70%;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
background-clip: padding-box;
background-color: white;
background-color: rgba(255, 255, 255, 0.79);
margin: 0;
padding: 18px 30px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
font-family: "Flama Light", "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 200;
box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
font-size: 22px;
color: #f37074;
outline: none;
line-height: 34px;
border: 0;
}

.emailSignup:focus{
    box-shadow: 0 0 10px rgba(81, 203, 238, 1);
}

input:focus::-webkit-input-placeholder 
{
    -webkit-transition: all 0.3s ease-in-out;
    color: transparent;
   
  /*padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;*/
  /*border: 1px solid rgba(81, 203, 238, 1);*/

}



.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 100px;

}

.bp_section {
    height: 100%;
    width: 100%;
    background-color: #f83f3d;

}

.bigPhoto {
    width: 100%;
    height: 100%;
    min-height: 850px;
    padding-top: 100px;
    background: url(../img/CSbigredC&S.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
}
.bpTextBox {
    width: 40%;
    text-align: left;
    margin-left: 5%;
    margin-top: 10%;
}

.aboutBox {
    height: 90%;
    width: 100%;
    background-color: #fff;
    /*padding-top: 50px;*/
    color: #94928F;
    vertical-align: middle;

}

.aboutBoxTwo {
    height: 90%;
    width: 100%;
    background-color: #fff;
    /*padding-top: 50px;*/
    color: #94928F;
    vertical-align: middle;
    background-color: #F5F5F5;
}
.aboutTextBox {
    margin: 5%;
    /*text-align: center;*/
    width: 50%;
    float: left;
    padding: 5%;
    padding-top: 50px;
    display: inline-block;
    vertical-align: middle;
}

.aboutTextBox h1{
    text-align: center;
}

.aboutTextBox h2{
    text-align: left;

}

#textLeft {
    margin-left: 10%;
    margin-right: 50%;
}

.connectingaboutPicBox{
    width: 40%;
    display: inline-block;
    float: left;
    text-align: center;
}

.connectingaboutPicBox img{

    height: 55%;
    width: 55%;
    margin-left: 10%;
    margin-top: 10%;
    min-width: 200px;

}
.messagingaboutPicBox{
    width: 40%;
    display: inline-block;
    float: left;
    text-align: center;
}
.messagingaboutPicBox img{
    height: 55%;
    width: 55%;
    margin-right: 10%;
    margin-top: 10%;
    min-width: 200px;
}
.aboutPic {
    height: auto;
    width: auto;   
}
/*.about_div  {
    display: flex;
    flex-position: column;
}*/

@media(min-width:767px) {
    .content-section {
        padding-top: 50px;
    }

    /*.download-section {
        padding: 100px 0;
    }*/

}

.field-wrap {
margin: 0 auto;
margin: 0 0 20px;
padding: 0;
position: relative;
}

.btn {

-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
display: inline-block;
margin-bottom: 0;
font-weight: 300;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-image: none;
/*border: 1px solid transparent;*/
white-space: nowrap;
padding: 15px 15px;
font-size: 12pt;
line-height: 1.333333333;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.btn-default {
color: #ffffff;
border-color: #fff;
margin-left: 20px;
border: 1px solid #fff;
background-color: transparent;
}


.btn-default:hover,
.btn-default:focus {
    border: 1px solid #219ab3;
    outline: 0;
    color: #fff;
    background-color: rgba(202, 234, 246, .5);
    border-color: #caeaf6;
}

/*.btn-submit{
    -webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
top: 10px;
right: 10px;
bottom: auto;
left: auto;
height: 60px;
width: 60px;
background: #bddeeb;
background-image: url();
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
background-clip: padding-box;
outline: none;
border: 0;
vertical-align: middle;
-webkit-appearance: none;
margin-left: -75px;
}*/
.btn-submit{
    -webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
top: 10px;
right: 10px;
bottom: auto;
left: auto;
padding: 15px 20px;
font-size: 20px;
background: #ACD4E3;
/*background-image: url(../img/1414219940_paper_plane.png);*/
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
background-clip: padding-box;
outline: none;
border: 0;
vertical-align: middle;
-webkit-appearance: none;
margin-left: -200px;
margin-top: -4px;
}
.btn-submit:hover{
    background: #d74140;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 25px 0;
    color: #f83f3d;
}

footer p {
    margin: 0;

}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);

}
.functionCon {
    width:100%;
    height: 800px;
}
.functionPhoto {
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    background: url(../img/CSiPhone6LineupRED.png) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.ourStory {
    height: 100%;
    width: 100%;
}
.ourStoryPhoto {
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: center;
    background: url(../img/CSwebsiteFailBlue.jpg) no-repeat bottom center scroll;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.osTextBox {
    margin-right: 15%;
    margin-left: 15%;
}

.osButtonBox img {
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    height:80px;
    width:80px;
}

.noMargin{
    margin-left: 0px;
}

.osButtonBox a img:hover{
    webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: .6;
}

.footer-thing {
    margin-bottom:0px;
}
